version: "3.8"

services:
  movie-tracker-dev:
    image: node:20-alpine
    container_name: movie-tracker-dev
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - NEXT_TELEMETRY_DISABLED=1
      - NEXT_PUBLIC_TMDB_API_KEY=${NEXT_PUBLIC_TMDB_API_KEY}
    command: sh -c "npm install && npm run dev"
    stdin_open: true
    tty: true
